:root {
    --color-bg: #1E1E1E;
    --color-font: rgb(255, 255, 255);

    /*fonts,family,size,weight*/
    --font-family-main: 'Palanquin Dark', sans-serif;
    --font-family-sub: 'Palanquin', sans-serif;

    /* font-size */
    --font-size-48: 48px;
    --font-size-42: 42px;
    --font-size-40: 40px;
    --font-size-32: 32px;
    --font-size-24: 24px;
    --font-size-22: 22px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;

    /* font-weight */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* pokemon types_: */
    --normal: rgb(183, 183, 168);
    --fire: rgb(255, 96, 67);
    --water: rgb(81, 168, 255);
    --electric: rgb(255, 212, 81);
    --grass: rgb(139, 212, 110);
    --ice: rgb(102, 204, 255);
    --fighting: rgb(197, 110, 96);
    --poison: rgb(183, 110, 168);
    --ground: rgb(226, 197, 110);
    --flying: rgb(154, 168, 255);
    --psychic: rgb(255, 110, 168);
    --bug: rgb(183, 197, 67);
    --rock: rgb(197, 183, 125);
    --ghost: rgb(125, 125, 197);
    --dragon: rgb(139, 125, 241);
    --dark: rgb(139, 110, 96);
    --steel: rgb(183, 183, 197);
    --fairy: rgb(241, 168, 241);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-weight-bold);
}


h1 {
    font-family: var(--font-family-main);
    color: var(--color-font);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: var(--font-family-main);
    color: var(--color-font);
    font-size: var(--font-size-42);
    text-align: center;
}

h3 {
    color: var(--color-font);
    justify-self: center;
    padding: 8px 24px;
    width: fit-content;
}

h4 {
    justify-self: center;
    color: var(--color-font);
    font-size: var(--font-size-24);
    padding: 8px 24px;
    width: fit-content;
}


span {
    font-family: var(--font-family-sub);
    color: var(--color-font);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
    text-align: center;

}